.navbar-nav>li>a {
    font-size: medium;
    font-weight: 500;
}

.nav {
    background: rgba(250, 235, 215, .2);
    backdrop-filter: blur(auto);
}

.checkbox {
    font-size: medium;
}

.dropdown-menu {
    z-index: 999;
    display: none;
    position: absolute;
    overflow: auto;
}

.dropdown-menu li {
    display: block;
    text-decoration: none;
}