html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

body {
    padding-bottom: 0%;
    margin: 0%;
}

.igv {
    padding-bottom: 6%;
}