<!DOCTYPE html>
<html lang="en">
<head>
    {{template "header" .}}
    <title>Pedigree</title>

    <script type="text/javascript">
        $( document ).ready(function() {
            var parent_width = $('#pedigrees').parent().width();
            var margin = ($(window).width()-parent_width > 10 ? 100 : 30);
            var svg_width = (parent_width > 750 ? (parent_width*9/12 - margin) : parent_width- margin);

            // var pedfile = 	"fam1 1 6 7 2 2 0 1 0 0\n"+
            //     "fam1 2 4 5 1 1 0 0 0 0\n"+
            //     "fam1 3 2 1 2 1 0 0 0 1\n"+
            //     "fam1 4 0 0 1 1 0 0 0 0\n"+
            //     "fam1 5 0 0 2 2 0 0 0 1\n"+
            //     "fam1 6 0 0 1 1 0 0 0 0\n"+
            //     "fam1 7 0 0 2 2 0 1 0 1";
            // var pedfile = 	"fam1\t1\t6\t7\t2\t2\n"+
            //     "fam1\t2\t4\t5\t1\t1\n"+
            //     "fam1\t3\t2\t1\t2\t1\n"+
            //     "fam1\t4\t0\t0\t1\t1\n"+
            //     "fam1\t5\t0\t0\t2\t2\n"+
            //     "fam1\t6\t0\t0\t1\t1\n"+
            //     "fam1\t7\t0\t0\t2\t2";
            // var pandapedigree = "231\t231\t0\t0\t1\t1\tJingJing\n" +
            //     "231\t253\t0\t0\t2\t1\tMiaoMiao\n" +
            //     "231\t424\t231\t253\t1\t1\tmaMa";
            var dataset = [{"name":"1","sex":"F","top_level":true,"nick":"hello"},
                {"name":"2","sex":"M","top_level":true,"nick":"hi"},
                {"name":"3","sex":"M","mother":"1","father":"2","nick":"me"},
                {"name":"4","sex":"F","level":1,"noparents":true,"nick":"she","mother":"1","father":"2"},
                {"name":"5","sex":"M","mother":"4","father":"3","nick":"grandson"}];

            // var dataset = pedigreejs.io.readLinkage(pandapedigree);

            var opts = {
                'targetDiv': 'pedigrees',
                'btn_target': 'history_ex4',
                'width': svg_width,
                'height': 400,
                'symbol_size': 35,
                'edit': false,
                'diseases': [
                    {'type': 'diabetes', 'colour': '#de7c29'},
                ],
                labels: [ "nick"],
                'DEBUG': (pedigreejs.pedigree_utils.urlParam('debug') === null ? false : true)
            };
            //$('#opts').append(JSON.stringify(opts, null, 4));
            var local_dataset = pedigreejs.pedcache.current(opts);
            if (local_dataset !== undefined && local_dataset !== null) {
                opts.dataset = local_dataset;
            } else {
                opts.dataset = dataset;
            }
            opts = pedigreejs.pedigreejs.build(opts);
            $('#history_ex4').css('max-width', svg_width);
            $('#history_ex4').css('margin', 'auto');
        });
    </script>
</head>
<body>
    {{template "navigation" .}}
    <div class="content">
        <div class="container-fliud">
            <div class="text-center">
                <h2>Example 4</h2>
                <label class="btn">
                    <input id="load" type="file" style="display: none;"/>Load
                </label>
                <label class="btn">
                    <input id="save" type="button" style="display: none;"/>Save
                </label>
                <label class="btn">
                    <input id="print" type="button" style="display: none;"/>Print
                </label>
                <label class="btn">
                    <input id="svg_download" type="button" style="display: none;"/>SVG
                </label>
                <label class="btn">
                    <input id="png_download" type="button" style="display: none;">PNG
                </label>
                <div id='history_ex4'></div>
                <div id="pedigrees"></div>
                <div id="node_properties"></div>
            </div>

        </div>
    </div>
    {{template "footer" .}}
</body>

<script type="text/javascript">
    function iframeLoad()
    {
        document.getElementById("iframe").height=0;
        document.getElementById("iframe").height=document.getElementById("iframe").contentWindow.document.body.scrollHeight;
    }
</script>
</html>