<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "header" . }}
  <title>Sampling Request</title>
  <style>
    * {
      box-sizing: border-box;
    }

    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }

    label,legend {
      padding: 12px 12px 12px 60px;
      display: inline-block;
    }

    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
    }

    input[type=submit]:hover {
      background-color: #45a049;
    }

    /*.container {*/
    /*  border-radius: 5px;*/
    /*  background-color: #f2f2f2;*/
    /*  padding: 20px;*/
    /*}*/

    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }

    .col-50 {
        float: right;
        width: 50%;
        margin-top: 6px;
    }

    .col-75 {
      float: right;
      width: 75%;
      margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    #add_more_fields {
        float: right;
    }
    #remove_field {
        float: right;
        margin-right: 10px;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }
  </style>
</head>
<body>
  {{ template "navigation" . }}
  <div class="container">
      <div>
          <button type="button" class="btn btn-info"><a href="samplingsummary">SAMPLING SUMMARY</a></button>
          <button type="button" class="btn btn-success"><a href="samplingrequest">SAMPLING REQUEST</a></button>
      </div>
      <form action="/samplingrequest" method="post" class="container">
          <div class="row">
              <div class="col-25">
                  <label for="panda_name">Panda Name</label>
              </div>
              <div class="col-75">
                  <input type="text" id="panda_name" readonly required>
                  <input type="hidden" id="PID" name="PID" >    <!-- server receives value-->
                  <input type="text" id="search" onkeyup="myFunction()" name="panda_name" placeholder="Searching giant panda by pedigree ID">
                  <!-- hidden list-->
                  <ul id="pandas">
                      {{ range .pandas }}
                          <li name="panda" id="{{ .PID }}" style="display: none" onclick="addValue({{ .PID }})">
                              <a href="#">{{ .PID }}: {{.Name}}&#9{{.Sex}}</a>
                          </li>
                      {{ end }}
                  </ul>
              </div>
          </div>

<!--          <div class="row">-->
<!--              <div class="col-25">-->
<!--                  <label>需求血量</label>-->
<!--              </div>-->
<!--              <div class="col-75 ">-->
<!--                  <div class="col-25">-->
<!--                      <label for="request_for_coagulation">不抗凝 (mL)</label>-->
<!--                      <input type="text" id="request_for_coagulation" name="request_for_coagulation" value="0">-->
<!--                  </div>-->
<!--                  <div class="col-25">-->
<!--                      <label for="request_for_heparin">肝素钠抗凝 (mL)</label>-->
<!--                      <input type="text" id="request_for_heparin" name="request_for_heparin" value="0">-->
<!--                  </div>-->
<!--                  <div class="col-25">-->
<!--                      <label for="request_for_edta">EDTA-K2抗凝 (mL)</label>-->
<!--                      <input type="text" id="request_for_edta" name="request_for_edta" value="0">-->
<!--                  </div>-->
<!--                  <div class="col-25">-->
<!--                      <label for="request_for_other">其他 (mL)</label>-->
<!--                      <input type="text" id="request_for_other" name="request_for_other" value="0">-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->
          <div class="row">
              <fieldset>
                  <legend class="col-25">Sample</legend>
                  <div class="col-75" id="sample">
                      <div class="col-25">
                          <select id="sample_type" name="sample_type">
                              <option value="Blood_For_Coagulation">Blood_For_Coagulation</option>
                              <option value="Blood_For_Heparin">Blood_For_Heparin</option>
                              <option value="Blood_For_EDTA">Blood_For_EDTA-K2</option>
                              <option value="Stool">Stool</option>
                              <option value="Urine">Urine</option>
                              <option value="Swab">Swab</option>
                              <option value="Hairs">Hairs</option>
                              <option value="Sounds">Sounds</option>
                              <option value="Videos">Videos</option>
                              <option value="Others">Others</option>

                          </select>
                      </div>
                      <div class="col-75">
                          <input type="text" id="sample_quantity" name="sample_quantity" value="0" style="padding: 0px;">
                      </div>
                  </div>
              </fieldset>
          </div>
<!--          <div class="row">-->
<!--              <div class="col-25">-->
<!--                  <label for="sample_quantity">Sample quantity</label>-->
<!--              </div>-->
<!--              <div class="col-75">-->
<!--                  <input type="text" id="sample_quantity" name="sample_quantity" value="0">-->
<!--              </div>-->
<!--          </div>-->
          <div class="row">
              <a href="#" id="add_more_fields">Add More</a>
              <a href="#" id="remove_field">Remove Fields</a>
          </div>
          <div class="row">
              <div class="col-25">
                  <label for="purpose">Purpose</label>
              </div>
              <div class="col-75">
                  <input type="text" id="purpose" name="purpose" placeholder="" required>
              </div>
          </div>
          <div class="row">
              <div class="col-25">
                  <label for="project">Project</label>
              </div>
              <div class="col-75">
                  <input type="text" id="project" name="project" placeholder="" required>
              </div>
          </div>
          <div class="row">
              <div class="col-25">
                  <label for="iacuc">IACUC ID</label>
              </div>
              <div class="col-75">
                  <input type="text" id="iacuc" name="iacuc" placeholder="">
              </div>
          </div>
          <div class="row">
              <div class="col-25">
                  <label for="project_manager">Manager</label>
              </div>
              <div class="col-75">
                  <input type="text" id="project_manager" name="project_manager" placeholder="" required>
              </div>
          </div>
          <div class="row">
              <div class="col-25">
                  <label for="contact">Contact</label>
              </div>
              <div class="col-75">
                  <input type="text" id="contact" name="contact" placeholder="" required>
              </div>
          </div>
          <div class="row">
              <div class="col-25">
                  <label for="notes">Notes</label>
              </div>
              <div class="col-75">
                  <textarea id="notes" name="notes" placeholder="Write something.." style="height:200px"></textarea>
              </div>
          </div>
          <br>
          <div class="row">
              <input type="submit" value="Submit">
          </div>
    </form>
  </div>

  {{ template "footer" . }}

  <script>
      var sample = document.getElementById("sample")
      var add_more_fields = document.getElementById("add_more_fields")

      add_more_fields.onclick = function (){
          var newline = document.createElement('div')
          newline.setAttribute('class','container row')
          newline.style = "margin-top:8px;"

          var array = ["Blood_For_Coagulation","Blood_For_heparin","Blood_For_EDTA-K2","Stool","Urine","Swabs", "Hairs", "Sounds", "Videos","Others"];
          var new_sample_type = document.createElement("select")
          new_sample_type.id = "mySelect"
          //new_sample_type.setAttribute("", "")
          new_sample_type.style = "width:20%"
          newline.appendChild(new_sample_type)

          for (var i = 0; i < array.length; i++) {
              var option = document.createElement("option");
              option.value = array[i];
              option.text = array[i];
              new_sample_type.appendChild(option);
          }

          var new_sample_quantity = document.createElement("input")
          new_sample_quantity.setAttribute('type', 'text')
          //new_sample_quantity.setAttribute('style', 'margin-left:5%;padding: 0px;width:50%')
          new_sample_quantity.style = "padding:0px;width:50%"
          //<input type="text" id="sample_quantity" name="sample_quantity" value="0" style="margin-left:5%;padding: 0px;">
          newline.appendChild(new_sample_quantity)

          sample.appendChild(newline)

          console.log(sample.length)
      }

      function myFunction() {
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById("search");
          filter = input.value.toUpperCase();
          ul = document.getElementById("pandas");
          li = ul.getElementsByTagName("li");
          for (i = 0; i < li.length; i++) {
              a = li[i].getElementsByTagName("a")[0];
              txtValue = a.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1 && filter != "") {
                  li[i].style.display = "";
              } else if (filter == "" || filter == undefined ) {
                  li[i].style.display = "none";
              } else {
                  li[i].style.display = "none";
              }
          }
      }

      let choosedPID = [];
      let choosedPanda = [];
      function addValue(id) {
          var li = document.getElementById(id);
          let a = li.getElementsByTagName("a")[0];
          if (choosedPID.includes(id) ){
              alert(a.innerText + " has existed");
          } else {
              choosedPID.push(id);
              choosedPanda.push(a.innerText);
              let input = document.getElementById("panda_name");
              input.value = choosedPanda.join("\t");
              document.getElementById("PID").value = choosedPID.join(",");
          }
      }
  </script>
</body>
</html>