<!DOCTYPE html>
<html lang="en">
<head>
    {{template "header" .}}
    <title>SamplingSummary</title>
</head>
<body>
{{template "navigation" .}}
    <div class="container">
        <a href="samplingrequest">SAMPLING REQUEST</a>
        <a href="samplingsummary">SAMPLING SUMMARY</a>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">序号</th>                  <!-- 0 -->
                <th scope="col">采血个体（大熊猫姓名）</th>   <!-- 1 -->
                <th scope="col">不抗凝的需求量</th>          <!-- 2 -->
                <th scope="col">肝素钠抗凝的需求量</th>      <!-- 3 -->
                <th scope="col">EDTA-K2抗凝需求量</th>      <!-- 4 -->
                <th scope="col">其他</th>                  <!-- 5 -->
                <th scope="col">血样用途</th>               <!-- 6 -->
                <th scope="col">项目</th>                  <!-- 7 -->
                <th scope="col">IACUC编号</th>             <!-- 8 -->
                <th scope="col">项目负责人</th>             <!-- 9 -->
                <th scope="col">联系人</th>                <!-- 10 -->
                <th scope="col">备注</th>                  <!-- 11 -->
            </tr>
            </thead>
            <tbody>
                {{ range .records}}
                    <tr>
                        <th scope="row">{{ .ID }}</th>
                        <td>{{ .PandaName }}</td>
                        <td>{{ .RequestForCoagulation }}</td>
                        <td>{{ .RequestForHeparin }}</td>
                        <td>{{ .RequestForEDTA }}</td>
                        <td>{{ .RequestForOther }}</td>
                        <td>{{ .Purpose }}</td>
                        <td>{{ .Project }}</td>
                        <td>{{ .IACUC }}</td>
                        <td>{{ .ProjectManager }}</td>
                        <td>{{ .Contact }}</td>
                        <td>{{ .Notes }}</td>
                    </tr>
                {{end}}

            </tbody>
        </table>
    </div>
{{template "footer" .}}
</body>
</html>